.content {
    max-width: 100%; 
    margin: auto;
    padding: 20px;
    height: auto; 
    line-height: 1.5;
    border-radius: 30px;
  }
  .con {
    max-width: 100%; 
    margin: auto;
    padding: 20px;
    height: auto; 
    line-height: 1.5;
    border-radius: 30px;
  }